<p id="notice"><%= notice %></p>

<h1>Chinese Foods</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chinese_foods.each do |chinese_food| %>
      <tr>
        <td><%= link_to 'Show', chinese_food %></td>
        <td><%= link_to 'Edit', edit_chinese_food_path(chinese_food) %></td>
        <td><%= link_to 'Destroy', chinese_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chinese Food', new_chinese_food_path %>
