<p id="notice"><%= notice %></p>

<h1>Japanese Foods</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @japanese_foods.each do |japanese_food| %>
      <tr>
        <td><%= link_to 'Show', japanese_food %></td>
        <td><%= link_to 'Edit', edit_japanese_food_path(japanese_food) %></td>
        <td><%= link_to 'Destroy', japanese_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Japanese Food', new_japanese_food_path %>
